# ----------------- PRE-FILLED EMULATOR VALUES; NOT REAL SECRETS -------------------

CONFIG_PATH="./config.json"
ACCEPT_EULA="Y"
MSSQL_SA_PASSWORD="Password123!"
EMULATOR_HTTP_PORT=5300
SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://servicebus-emulator;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;
COSMOS_CONNECTION_STRING=AccountEndpoint=https://cosmosdb-emulator:8081/;AccountKey=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==;
COSMOS_ENDPOINT=https://cosmosdb-emulator:8081/
COSMOS_KEY=C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==
COSMOS_DB_NAME=CarClinchDB
COSMOS_DB_CONTAINER=messages
COSMOS_VERIFY_SSL=false
STORAGE_CONNECTION_STRING=UseDevelopmentStorage=true;DevelopmentStorageProxyUri=http://azurite
SB_NAMESPACE=servicebus-emulator

# ------------------ DEFAULTS YOU MAY CUSTOMIZE -------------------

OPENAI_MODEL_NAME="gpt-4.1-mini"

# Email service configurations
FOLLOWUP_TIMER="24,24,24"
FOLLOWUP_TIME_STRUCTURE="hours"


# ----------------- FILL IN THE BELOW VARIABLES -------------------

# IPv4 address override for Cosmos DB emulator
AZURE_COSMOS_EMULATOR_IP_ADDRESS_OVERRIDE=""

# Gmail credentials for email processing service to send emails via SMTP
GMAIL_USER=""
GMAIL_APP_PASSWORD=""

# OpenAI API key and base URL for Microsoft Foundry
OPENAI_API_KEY=""
OPENAI_BASE_URL=""

# Admin email for receiving all escalation or booking notifications
ADMIN_EMAIL=""

# User email for receiving test leads (can be set to your email for testing)
USER_EMAIL=""